* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
header {
    height: 190px;
    width: 900px;
    margin: auto;
    text-align: center;
}
ul {
    padding-top: 75px;
}
li {
    display: inline-block;
    padding: 0 40px;
}
a {
    text-decoration: none;
    color: black;  
}
main {
    width: 900px;
    margin: auto;
}
article {
    width: 420px;
    height: 610px;
    display: inline-block;
}
.Column2, .Column4, .Column6 {
    margin-left: 56px;
}
.Column5, .Column6 {
    height: 550px;
}
.container: last-child {
    margin-right: 0;
}
.photo {
    margin-bottom: 25px;
}
h2 {
    font-size: 14px;
}
h3 {
    margin-top: 20px;
    text-align: left;
    font-size: 30px;
}
p {
    margin-top: 30px;
    font-size: 14px;
    line-height: 25px;
}
.load {
    width: 900px;
    margin: auto;
    text-align: center;
}
button {
    display: inline-block;
    width: 165px;
    height: 60px;
    font-size: 20px;
    margin-bottom: 70px;  
}