.container1 {
    background-image: url(../img/mobile.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
}

@media (min-width: 48rem) {

    .container1 {
        background-image: url(../img/tablet.jpg);
        background-repeat: no-repeat;
        background-position: center 0;
    }
   
}

@media (min-width: 75rem) {

    .container1 {
        background-image: url(../img/Desktop.jpg);
        background-repeat: no-repeat;
        background-position: center 0;
    }

}