* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

li {
  cursor: pointer;
}

.fullview {
  margin-bottom: 2rem;
}

.fullview > img {
  max-height: 450px;
}

ul>li:hover {
  box-shadow: 10px 10px 50px rgba(0,0,0,0.5);
  transform: scale(1.02)  ;
  -webkit-transform: scale(1.02)  ;
  -moz-transform: scale(1.02)  ;
  -ms-transform: scale(1.02)  ;
  -o-transform: scale(1.02)  ;
}

.focused {
  box-shadow: 10px 10px 50px rgb(2, 185, 241);
  transform: scale(1.05)  ;
  -webkit-transform: scale(1.05)  ;
  -moz-transform: scale(1.05)  ;
  -ms-transform: scale(1.05)  ;
  -o-transform: scale(1.05)  ;
}