  .amazing-services {
    text-align: center;
  }
  
  .amazing-services__work-with {
    font-family: $font-family-banner;
    font-size: 1.5rem;
    padding-top: 2.875rem;
    padding-bottom: 1.375rem;
  }
  
  .title__desc--second {
    font-family: $font-family-banner;
    font-size: 1.5rem;
    padding-bottom: 1.375rem;
    padding-top: 5.625rem;
  }
  
  .amazing-services__title {
    font-family: $font-family;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.875rem;
  
  &::after {
    display: block;
    content: "";
    height: 0.1875rem;
    width: 3.75rem;
    background-color: $background-color;
    margin: auto;
    margin-top: 2.625rem;
    margin-bottom: 4.0625rem;
  }
}
  
  // .meet::after {
  //     margin-bottom: 2.875rem;
  // }
  
  .amazing-services__list {
    // display: -webkit-box;
    // display: -ms-flexbox;
    display: flex;
    // -ms-flex-pack: distribute;
        justify-content: space-around;
    // -ms-flex-line-pack: justify;
        align-content: space-between;
    list-style: none;
    // -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 15rem;
    padding-left: 0;
    margin-left: 0;
  
  }
  
  .amazing-services__item {
    list-style: none;
    // -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    // display: -ms-grid;
    display: grid;
    grid-gap: 1.6875rem;
    // -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    // -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "i n";
  }
  
  .amazing-services__icon {
    // -ms-grid-row: 1;
    // -ms-grid-column: 1;
    grid-area: i;
    margin: 0;
  }
  
  .mazing-services__text-box {
    padding-top: 0;
    margin-top: 0;
  }
  
  .amazing-services__name {
    // -ms-grid-row: 1;
    // -ms-grid-column: 2;
    grid-area: n;
    font-family: $font-family;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.875rem;
    color: $amazing-color;
    margin-bottom: 1.3125rem;
    padding-top: 0;
    margin-top: 0;
  }
  
  .amazing-services__text {
    font-family: $amazing-family;
    font-size: 0.9375rem;
    color: $amazing-text-color;
    line-height: 1.5rem;
  }