@media (min-width: 20rem) {

  .title-top {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.875rem;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 1.25rem;
  }

  .small-title {
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    color: #fff;
    margin-bottom:3.1875rem;
  }

  .button-box-top {
    border-radius: 2rem;
    border: 0;
    background-color: #ff4e50;
    margin-bottom: 8.75rem;
  }

  .button-text-top {
    display: block;
    padding: 0.875rem 3.25rem;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
  }

  .button-text-top:hover {
    text-decoration: none;
    color: #fff;
  }

}

@media (min-width: 48rem) {

  .title-top {
    margin-bottom: 2.5rem;
    font-size: 3.25rem;
  }

  .small-title {
    margin-bottom: 2.125rem;
  }

  .button-box-top {
    margin-bottom: 14.625rem;
  }

}
