@media (min-width: 20rem) {

  .wrapper-top {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    margin-bottom: 4.1875rem;
    padding-top: 1.25rem;
  }

  .nav-list {
    margin-bottom: 7.2rem; 
  }

  .nav-list a {
    text-decoration: none;
    color: #fff;
  }

  .nav-item {
    color: #fff;
    font-size: 0.875rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    padding: 0.75rem 1.125rem;
  }

  .nav-item:hover {
    color: #fff;
    border: 0.125rem solid #fff;
    border-radius: 2rem;
  }

  .logo {
    margin-bottom: 2.375rem;
  }

  .logo-text {
    font-size: 1.25rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.1rem;
  }

  .logo a {
    text-decoration: none;
    color: #fff;
  }

}

@media (min-width: 48rem) {

  .wrapper-top {
    padding-top: 2.375rem;
  }

  .header {
    margin-bottom: 9.5rem;
    line-height: 2.25rem;
    padding-right: 3.125rem;
    padding-left: 3.125rem;
  }

  .nav-list {
    margin-bottom: 0;
  }

  .logo {
    margin-bottom: 0;
  }

}