@media (min-width: 20rem) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    min-width: 20rem;
    max-width: 90rem;
    margin: 0 auto;
  } 

  .wrapper-top {
    background-image: url(../img/wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
  }

  .container {
    min-width: 20rem;
  }  
  
  .header {
    margin: 2rem 1rem 0 1rem;
  }

  .login {
    margin-bottom: 7.5rem;
    
  }

  .login li {
    list-style: none;
  }

  .login a {
    text-decoration: none;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    padding: 0.625rem 1rem 0.5rem 1rem;
    border: 0.125rem solid transparent;
  }

  .login a:hover {
    border: 0.125rem solid #fff;
    border-radius: 2rem;
  }

  .logo {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    color: #fff;
    letter-spacing: 0.2rem;
  }

  .logo-box a {
    text-decoration: none;
    color: #fff;
  }

  .logo-box {
    margin-bottom: 2rem;
  }

}

@media (min-width: 48rem) {
  .header {
    margin: 2.9375rem 4.1875rem 10.0625rem 3.0625rem;
  }

  .login {
    margin-bottom: 0;
    text-align: right;
  }

  .logo-box {
    margin-bottom: 0;
    text-align: left;
  }

}