@media (min-width: 20rem) {
  .wrapper-bottom {
    min-width: 20rem;
    margin: auto;
    text-align: center;
  }

  .meet {
    margin: auto;
    margin-top: 4.375rem;
    margin-bottom: 0.9375rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.375rem;
    font-weight: 700;
    color: #333333;
    max-width: 20rem;
  }

  .partner {
    max-width: 13.586875rem;
    margin: auto;
    list-style: none;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 1.8125rem;
  }

  .img-wrapper {
    position: relative;
    max-width: 7.59375rem;
    margin: auto;
    margin-bottom: 1.270625rem;
  }

  .avatar {
    position: relative;
  }

  .icon {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0.4rem;
  }

  .icon-wrapper {
    position: absolute;
    width: 2rem;
    height: 2rem;
    bottom: 0;
    right: 0;
    border: 0.25rem solid #fff;
    border-radius: 50%;
  }

  .tv {
    background-color: #ff4e50;
  }

  .alch {
    background-color: #ffa507;
  }

  .cup {
    background-color: #1cd7ad;
  }

  .plane {
    background-color: #4e73db;
  }

  .name {
    font-family: "Montserrat", sans-serif;
    font-size: 0.873125rem;
    font-weight: 800;
    color: #333333;
    margin-bottom: 1rem;
  }

  .partner-info {
    color: #666666;
    font-size: 0.873125rem;
  }

  .see-other {
    background: #fff;
    border: 0.125rem solid #ff4e50;
    border-radius: 2.5rem;
    line-height: 2.25rem;
    margin-bottom: 3.541875rem;
    cursor: pointer;
  }

  .see-other:hover {
    background: #ff4e50;
    border: 0.125rem solid transparent;
  }

  .see-other a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #ff4e50;
    font-size: 0.875rem;
    padding: 0.75rem 3.625rem 0.625rem;
  }

  .see-other a:hover {
    color: #fff;
  }
}

@media (min-width: 48rem) {

  .meet {
    margin-top: 4.5625rem;
    max-width: 100%;
    margin-bottom: 2rem;
  }  

  .see-other {
    margin-bottom: 2.46875rem;
  }

  .see-other a{
    padding: 0.8125rem 1.75rem 0.65625rem;
  }
}

