@media (min-width: 20rem) {

   .wrapper-bottom {
    background-color: #fff;
    text-align: center;
    margin: auto;
    min-width: 20rem;
  }

  .title-bottom {
    font-family: "Montserrat", sans-serif;
    margin: auto;
    font-size: 1.275rem;
    color: #333;
    font-weight:700;
    margin-bottom: 0.875rem;
    min-width: 20rem;
  }

  .partner {
    margin: auto;
    max-width: 13.586875rem;
    list-style: none;
    justify-content: center;
    margin-bottom: 1.6875rem;
  }

  .img-box {
    max-width: 7.625rem;
    margin: auto;
    position: relative;
    margin-bottom: 1.25rem;
  }

  .picture {
    position: relative;
  }

  .box-icon {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.4rem;
    bottom: 0;
    right: 0;
    border: 0.25rem solid #fff;
    border-radius: 50%;
  }

  .tv {
    background-color: #FF4E50;
  }

  .bottle {
    background-color: #FFA507;
  }

  .cup {
    background-color: #1CD7AD;
  }

  .plane {
    background-color: #4E73DB;
  }

  .partner-name {
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .partner-info {
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    color: #666;
    font-weight: 300;
  }

  .button-box-bottom {
    background: #fff;
    border: 0.125rem solid #ff4e50;
    border-radius: 2.5rem;
    line-height: 2.25rem;
    margin: auto;
    margin-bottom: 3.541875rem;
    cursor: pointer;
  }

  .button-box-bottom:hover {
    background: #ff4e50;
    border: 0.125rem solid transparent;
  }

  .button-text-bottom {
    display: block;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #ff4e50;
    font-size: 0.875rem;
    padding: 0 4.6875rem;
  }

  .button-text-bottom:hover {
    color: #fff;
    text-decoration: none;
  }

} 

@media(min-width:48rem) {

  .title-bottom {
    margin-bottom: 1.875rem;
  }

  .holiday-partners {
    height: 14.625rem;
  }

  .button-text-bottom {
    padding: 0 1.875rem;
  }

}