.banner {
    text-align: center;
    padding-bottom: 15rem;
    }
    
.banner__creative {
    font-family: 'Kaushan Script', sans-serif;
    color: #fff;
    font-size: 4.5rem;
    padding-top: 11.25rem;
    padding-bottom: 2.65625rem;
}

.banner__welcome {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9.375rem;
    color: #fff;
    word-wrap: break-word;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.banner__button {
    background: transparent;
    border: 0.1875rem solid #fff;
    padding: 0.75rem 0;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.banner__button:hover {
    background: #fff;
    border:  0.1875rem solid transparent;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    -webkit-transition-timing-function: linear;
            -o-transition-timing-function: linear;
            transition-timing-function: linear;
}

.banner__button--learn-more {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 0.875rem;
    color: #fff;
    padding: 0.75rem 1.875rem;
}

.banner__button--learn-more:hover {
    color: #efc788;
}
