.wrapper-top {
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(243, 129, 129, 0.9)),to(rgba(252, 227, 138, 0.9))), url(../img/wallpaper.png);
  background-image: -webkit-linear-gradient(rgba(243, 129, 129, 0.9),rgba(252, 227, 138, 0.9)), url(../img/wallpaper.png);
  background-image: -o-linear-gradient(rgba(243, 129, 129, 0.9),rgba(252, 227, 138, 0.9)), url(../img/wallpaper.png);
  background-image: linear-gradient(rgba(243, 129, 129, 0.9),rgba(252, 227, 138, 0.9)), url(../img/wallpaper.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .wrapper-top {
      background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(243, 129, 129, 0.9)),to(rgba(252, 227, 138, 0.9))), url(../img/bird@2x.png);
      background-image: -webkit-linear-gradient(rgba(243, 129, 129, 0.9),rgba(252, 227, 138, 0.9)), url(../img/wallpaper@2x.png);
      background-image: -o-linear-gradient(rgba(243, 129, 129, 0.9),rgba(252, 227, 138, 0.9)), url(../img/wallpaper@2x.png);
      background-image: linear-gradient(rgba(243, 129, 129, 0.9),rgba(252, 227, 138, 0.9)), url(../img/wallpaper@2x.png);
  }
}

.wrapper-top__container {
  width: 75.0625rem;
  margin: 0 auto;
}

.header {
  padding-top: 1.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items:center;
}

.header__logo-box--logo {
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

.header__nav {
  width: 51.42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
      -ms-flex-align: center;
          align-items:center;
          padding-top: 0.625rem;
}

.header__nav--link {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 0.625rem;
}

.header__nav--link:hover {
  -webkit-box-shadow: 0 0.1875rem 0 #fce38a;
          box-shadow: 0 0.1875rem 0 #fce38a;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  color: #fce38a;
}

.cart {
  width: 1.125rem;
  height: 1.71875rem;
  fill: #fff;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.cart:hover {
  fill: #fce38a;
}

.search {
  width: 1.125rem;
  height: 1.71875rem;
  fill: #fff;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.search:hover {
  fill: #fce38a;
}