* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timerBox {
  max-width: 65%;
  text-align: center; 
  margin: 20px auto;
}

.js-time {
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  font-family: 'Wallpoet', cursive;
  width:18vw;
  height: 20vh;
  background-image: url('../img/clock.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
  margin-bottom: 10px;
  color: rgb(36, 160, 36);
}

.btn {
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center; 
  color: #fff;
  width: 15vw;
  background-image: url('../img/button.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5px 20px;
  border-radius: 200px;
  cursor: pointer;
}

.btn:hover {
  background: rgb(232,95,76);
}

.laps {
  max-width: 20%;
  margin: auto;
  text-align: center;
  font-size: 34px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.active {
  background-color: #a01414;
}
